# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Entornos virtuales
venv/
.venv/
env/

# Docker / Podman
pgdata/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno (contienen claves)
.env
.env.local

# Base de datos local de desarrollo
*.db
